body{
  margin: 0;
  color: white;
  font-family: Candara;
}

html{
  scroll-behavior:smooth;
}

/* navigation bar section */

nav{
  width: 100%;
  background-color: #faa916;
  position:fixed;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid black;
  text-align:center;
}

nav a{
  text-decoration: none;
  color:white;
  padding: 15px;
  border-radius: 10px;
}


nav a:hover{
  background-color: #032B43;
}
nav li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

nav ul{
  margin: 0;
  padding: 15px;
  display: flex;
}


/* welcome section */

.welcome-section{
  height: 100vh;
  background-color: #032B43;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1{
  font-size: 10vh;
  margin-bottom: 0;
  text-align:center;
}

h2{
  font-size:6vh;
  margin-top:10px;
  text-align:center;
}


/*about section */

.about-section{
  height: 100vh;
  background-color: #2b2d42;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text{
    width: 60%;
    text-align: center;
}

img{
  width:50%;
  max-width: 700px;
}



/* timeline section */

.timeline-section{
  height:auto;
  min-height:100vh;
  background-color:#295151;
}

.timeline-section-header{
  display:flex;
  justify-content:center;
  align-items:center;
  height:150px;
  padding-top:8vh;
  flex-direction:column;
}

.timeline-section-header h1{
  font-size:6vh;
}

.timeline-section-header h2{
  font-size:3vh;
}

.timeline-section-body{
  width:100%;
  height:100%;
  display:flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction:column;
  flex-wrap:wrap;
  
}

.timeline-item{
  border: 2px solid black;
  border-radius:15px;
  width:65%; /* original width = 275px, height = 90px */
  background-color: #2d3534;
  display:flex;
  flex-direction:row;
  text-align:center;
  margin-bottom:15px;
}

.timeline-item-header{
  padding: 10px;
  border-right: 1px solid black;
  display:flex;
  justify-content:center;
  align-items:center;
    width:70px;
}

.timeline-item-body{
  padding:10px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.timeline-item-body p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration:underline;
    color: white;
    padding: 0;
}


/* contact section */

.contact-section{
  text-align:center;
  height: 100vh;
  min-height: 500px;
  background-color: #6a0600;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.contact-section h1{
    font-size:6vh;
}

.contact-section h2{
  font-size:3vh;
}

.contact-icons{
  display:flex;
  width:80%;
  justify-content:space-around;
  flex-wrap: wrap;
}

i{
  font-size: 30px;
  padding:15px;
    color: white;
}

.contact-section a:hover{
  transform: translateY(10px);
  transition: transform 0.3s linear;
}


.contact-section header{
  font-size: 30px;
  margin-bottom:60px;
}



/* media section */


@media only screen and (max-width:1500px){
    .timeline-item-header{
        width: 30px;
    }
}

@media only screen and (max-width: 1000px){
  .about-content{
    width:100%;
    flex-direction: column;
  }

  .about-text{
    width: 80%;
  }
    
    img{
        width: 35%;
    }
    
}



@media only screen and (max-width: 500px){
  nav{
    justify-content: space-around;
  }
  nav ul{
    flex-wrap: wrap;
    padding: 15px 1px 15px 1px;
  }
  nav li{
    font-size: 2.5vh;
  }

  nav a{
    padding: 5px;
  }

  h1{
    font-size: 5vh;
  }

  h2{
    font-size: 3vh;
  }

  .about-content{
    width:100%;
    flex-direction: column;
  }

  .about-text{
    width: 80%;
  }
    
    .timeline-item{
    width:95%;
    margin-bottom:8px;
  }
  .timeline-section-header{
  padding-top:25px;
}
  .timeline-section-header h1{
  font-size:5vh;
}

.timeline-section-header h2{
  font-size:2.5vh;
}
    .timeline-item-header{
        width: 15px;
    }
    
    .contact-section{
    width:100%;
    text-align:center;
  }
  
  i{
  font-size: 30px;
  padding:5px;
}


    .contact-icons a{
          margin: 15px;
      }

}

@media only screen and (max-width: 335px){
  nav li{
    padding: 5px;
    font-size: 2vh;
  }

  nav a{
    padding: 5px;
  }
}

@media only screen and (max-width: 215px){
.timeline-section-header{
    padding-top:120px;
  }
}

@media only screen and (max-width: 150px){
.timeline-section-header{
    padding-top:135px;
  }
